
body {
    margin:0;
    max-width: 100%;
}
.hide-for-extension{

}
#badassPerson {
    position: relative;
    background-size: cover;
    background-position: right top;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
}

a {
    color:white;
    text-decoration: none;
}

.badassCopy{
    position: absolute;
    top: 15%;
    width: 80%;
    margin: 0 10%;
}

.badassStory{
    position: absolute;
    z-index: 1;
    left: 27%;
    top: 55%;
    width: 53%;
}

h1:hover {color: #ff0f61;}

h1 {
    z-index: 0;
    color: #EE105C;
    width: 55%;
    left: 10%;
    top: 20%;
    font-size: 100pt;
    line-height:85pt;
    text-transform: uppercase;
    font-family: Impact;
    font-style: italic;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}
p {
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 1.5;
}

.random{
    text-align: left;
    margin-top: 30px;
    padding-bottom:50px;
}

.random a {
    color: #000;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 23px;
}

.famou5-logo{
    position: absolute;
    bottom: 7%;
    right: 6%;
    width: 80px;
}

.logo{
    position: absolute;
    left: 4%;
    top: 1%;
    width: 100px;
}

.about-link{
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 7%;
    right: 6%;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a, .social-icons div{
    display: inline-block;
}
.social-icons svg, .social-icons .fb-share-button{
    width: 15px;
    height: 15px;
}

.social-icons .Twitter{
    margin-right: 15px;
}

/*THEMES*/
p, h2, a{
    color: #000;
}

 .famou5-logo polyline, .famou5-logo path, .famou5-logo rect{
    fill: #000;
}

.famou5-logo path.pink{
    fill:#D41B5D;
}
.light .random a{
    border: #000 2px solid;
}
.dark{
    backgroundd: #000000;
}

.dark p, .dark h2, .dark a{
    color: #fff;
}
.dark .random a{
    border: #fff 2px solid;
}
.dark .social-icons svg path{
    fill: #ffffff;
}
.dark .famou5-logo polyline, .dark .famou5-logo path, .dark .famou5-logo rect{
    fill: #fff;
}
.dark #bold150type{
    fill: #fff;
}
.dark .famou5-logo path.pink{
    fill:#D41B5D;
}


@media screen and (max-width: 1024px){
    .badassStory{
        left: 27%;
        top: 55%;
        width: 60%;
    }

    h1 {
        font-size: 64pt;
        line-height: 55pt;
    }
    h2 {
        font-size: 18px;
    }
    p{
        font-size: 12px;
    }
}

@media screen and (max-width: 640px){
    #badassPerson {
        background-position: center top;
    }
    .random{
        text-align: center;
        margin-top: 18%;
    }
    .badassCopy {
        top: 20%;
    }
    .badassStory{
        width: 100%;
        left: 0;
    }
    h1 {
        font-size: 36pt;
        line-height: 32pt;
    }
    h2 {
        font-size: 16px;
        width: 55%;
        margin-left: 45%;
    }
    p{
        font-size: 12px;
        line-height: 1.4;
    }

    .famou5-logo{
        position: absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -50px;
        width: 100px;
    }
}

@media screen and (max-width: 375px){

    h1 {
        font-size: 30pt;
        line-height: 27pt;
    }
    h2 {
        font-size: 14px;
        width: 65%;
        margin-left: 35%;
    }
}