#badassPerson {position: relative; padding: 15% 0 0 15%; width: 900px;}
img {float:left; padding-right: 50px;}

a {color:white; text-decoration: none;}

#badassCopy {width: 650px; float: right;}
h1 {font-size: 42pt; margin: 0 0 10px 0;}
p {font-family: serif; font-size: 16pt;}
